debug32*
debug64*
release32*
release64*
testresults*
*_i.c
*_p.c
*_i.h
*.*sdf
*.suo
*.aps
*.ipch
*.vspscc
*.obj
*.pdb
*.DS_Store
uncle.*
*.vcxproj.user
*.res
*\.svn\*
*.svn-base
*.xcuserstate
xcuserdata/
build/
Debug/
Release/
Build/
/testtaskvoip/Build/
/Build/Products/Debug-iphonesimulator/